
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/ec.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="/css/w3.css" />
  <link rel="stylesheet" href="/css/quill.snow.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="/css/main.css" />
  <script src="/js/quill.js"></script>
  <script src="/js/image-resize.min.js"></script>
  <title>Ethereal Create</title>
  <!-- Add your CSS styles or link to a stylesheet here -->
</head>
<body>

  <div class='header'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.39 294.79" class='bg'><defs><style>.stars-bg__star{fill:#0971b7;fill-rule:evenodd;}</style></defs><title>Stars-bg</title><g id="06bfc7e1-b704-4078-98ce-2308fc1c2fe9" data-name="Layer 2"><g id="c0153062-95a7-412f-be95-4bccb94029e9" data-name="Layer 1"><path class="stars-bg__star stars-bg__blink-1" d="M4.84,3.53A1.18,1.18,0,1,0,3.66,2.35,1.17,1.17,0,0,0,4.84,3.53"/><path class="stars-bg__star stars-bg__blink-2" d="M512.9,145.88a1.18,1.18,0,1,0-1.18-1.18,1.18,1.18,0,0,0,1.18,1.18"/><path class="stars-bg__star stars-bg__blink-3" d="M411,55.7a1.18,1.18,0,1,0,1.18,1.18A1.17,1.17,0,0,0,411,55.7"/><path class="stars-bg__star stars-bg__blink-2" d="M135.79,27.52A1.18,1.18,0,1,0,137,28.7a1.18,1.18,0,0,0-1.18-1.18"/><path class="stars-bg__star stars-bg__blink-1" d="M100.53,94.49a1.18,1.18,0,1,0,1.18,1.18,1.18,1.18,0,0,0-1.18-1.18"/><path class="stars-bg__star stars-bg__blink-1" d="M16.85,131.35A1.18,1.18,0,1,0,18,132.53a1.18,1.18,0,0,0-1.18-1.18"/><path class="stars-bg__star stars-bg__blink-3" d="M533.24,0a1.18,1.18,0,1,0,1.18,1.18A1.18,1.18,0,0,0,533.24,0"/><path class="stars-bg__star stars-bg__blink-1" d="M340.44,48.52a1.18,1.18,0,1,0-1.18,1.18,1.18,1.18,0,0,0,1.18-1.18"/><path class="stars-bg__star stars-bg__blink-2" d="M200.35,64.06a1.18,1.18,0,1,0,1.18,1.18,1.17,1.17,0,0,0-1.18-1.18"/><path class="stars-bg__star stars-bg__blink-2" d="M159.9,151.18a1.18,1.18,0,1,0-1.18-1.18,1.18,1.18,0,0,0,1.18,1.18"/><path class="stars-bg__star stars-bg__blink-1" d="M544.22,203.63a1.18,1.18,0,1,0-1.18-1.18,1.18,1.18,0,0,0,1.18,1.18"/><path class="stars-bg__star stars-bg__blink-3" d="M135.79,188.61a1.18,1.18,0,1,0,1.18,1.18,1.18,1.18,0,0,0-1.18-1.18"/><path class="stars-bg__star stars-bg__blink-1" d="M1.18,292.44a1.18,1.18,0,1,0,1.18,1.18,1.18,1.18,0,0,0-1.18-1.18"/><path class="stars-bg__star stars-bg__blink-2" d="M478.61,171a1.18,1.18,0,1,0-1.18-1.18,1.18,1.18,0,0,0,1.18,1.18"/><path class="stars-bg__star stars-bg__blink-1" d="M340.44,209.6a1.18,1.18,0,1,0-1.18,1.18,1.18,1.18,0,0,0,1.18-1.18"/><path class="stars-bg__star stars-bg__blink-3" d="M200.35,225.15a1.18,1.18,0,1,0,1.18,1.18,1.17,1.17,0,0,0-1.18-1.18"/><path class="stars-bg__star stars-bg__blink-1" d="M413.82,115.21a1.18,1.18,0,1,0-1.18-1.18,1.18,1.18,0,0,0,1.18,1.18"/><path class="stars-bg__star stars-bg__blink-2" d="M100.53,255.58a1.18,1.18,0,1,0,1.18,1.18,1.18,1.18,0,0,0-1.18-1.18"/><path class="stars-bg__star stars-bg__blink-3" d="M34.65,223.73a1.18,1.18,0,1,0-1.18-1.18,1.18,1.18,0,0,0,1.18,1.18"/></g></g></svg>
  </div>
  
  <!-- Grid -->
  <div class="w3-row main-container">

    <!-- Blog entries -->
    <% posts.forEach(post => { %>
      <div class="w3-card-4 w3-margin">
        <header class="w3-container w3-center">
          <div class="header-container">
            <h1><a href="/" class="header-click"><b>Ethereal Create</b></a></h1>
            <p>Welcome to the realm of <span class="w3-tag">J</span></p>
            <% if (user) { %>
              <p><b><a href="/logout">Logout</a></b></p>
            <% } else { %>
              <p><b><a href="/login">Login</a></b></p>
            <% } %>
          </div>
          <div class="ivy"></div>
        </header>
        <% if (post.cover_image) { %>
          <div class="blog-preview-img" style="background-image: url('/uploads/<%- post.cover_image %>');"></div>
        <% } else { %>
          <div class="blog-preview-img" style="background-image: url('/images/landscape.jpg');"></div>
        <% } %>
        <div class="w3-container title-area">
          <h3><b><a href="/post/<%= post.id %>"><%- post.title %></a></b></h3>
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag"><%- post.comment_count %></span></span></p>
        </div>
      </div>
    <% }); %>
    
      <div class="pag-container">
        <div class="pagination">
          <% const max_pages = 5; // Number of pages to display %>
          <% const start_page = Math.max(1, page - Math.floor(max_pages / 2)); %>
          <% const end_page = Math.min(page_count, start_page + max_pages - 1); %>
    
          <% if (page !== start_page) { %>
            <a href="/page/<%- parseInt(page) - 1 %>">&laquo;</a>
          <% } %>
          <% for(let i = start_page; i <= end_page; i++) { %>
            <% if(i === page) { %>
              <a href="javascript:void(0)" class="active"><%- i %></a>
            <% } else { %>
              <a href="/page/<%- i %>"><%- i %></a>
            <% } %>
          <% } %>
          <% if (page !== end_page) { %>
            <a href="/page/<%- parseInt(page) + 1 %>">&raquo;</a>
          <% } %>
        </div>
      </div>

      
  
  <% if (user) { %>
    <!-- Display blog writing tools only for certain users -->
    <% if (user.role === 'admin') { %>
      <div class="w3-row main-container">
        <div class="w3-card-4 w3-margin w3-white" style="padding: 20px;">
      <br>
      <form action="/post" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" required>
        <br>
        <label for="content">Content:</label>
        <div name="content" id="editor-container"></div>
        <input type="hidden" name="content" id="hidden-editor-input">
        <br>
        <button type="submit">Submit</button>
      </form>
    </div>
    </div>
    <% } %>
  <% } %>


<script src="/js/quill_editor.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/fireflies.js"></script>
<script>
  Fireflies.initialize();
</script>
</body>
</html>
